div{
    background-color:red;
    width:30%;
    height:400px;
    margin:10px;
    display: inline-block;
}

p{
    width:100%;
    height:2px;
}

.blueBigBold{
    color:blue;
    font-size: 36px;
    font-weight: 900;
}

